<h1>Purchases</h1>

<div>
  <% @purchase.each do |purchase| %>
    <div class="each-order-box">
    <div class="order-header"><h4 >Purchase ID: #<%= purchase.id %></h4></div>
    <br>
    <div class="order-details">
    <% @purchases_belonging_to_user = purchase.purchase_items.where(user_id: current_user.id) %>
    <% @purchase_belonging_to_user.each do |purchases| %>
      <p><strong>Artwork: </strong><%= purchases.artwork.title %> 
    <% end %>
    <hr>
    <div class="price-bold">
    <p><strong>Total Price:</strong> $<%= purchase.total_price %> AUD</p>
    </div>
    </div>

  </div>
   <% end %>