<h1>Welcome to Snowflakes</h1>


<button class="signbtn">
    <%= link_to "Sign in", new_user_session_path %>
</button>
<button class="signbtn">
    <%= link_to "Sign up", new_user_registration_path %>
</button>
<br>

