// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.artwork-card {
    display: flex;
    flex-direction: row;
    
}

.artwork-card img {
    width: 250px;
    padding: 10px;
}

.artwork-about {
    padding: 10px;
}

.artwork-links {
    
}

